html {
    font-family: 'Montserrat';
    scroll-behavior: smooth;
}

/* Main Page Style */

.wrapper {
    width: 1920px;
    margin: 0 auto;
    background: url(../img/header_main_img.png) no-repeat;
}

.main-page-section {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    color: #FFFFFF;
    padding-bottom: 310px;

}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 177px;
}

.navigation-section {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.navigation-section ul {
    list-style: none;
    margin: 0;

}

.navigation-section ul li a {
    padding-bottom: 5px;
}

.navigation-section ul li a,
.navigation-section ul li a:after,
.navigation-section ul li a:before {
    transition: all 1s;
}

/* stroke */
.navigation-section ul li a {
    position: relative;
}

.navigation-section ul li a:after,
.navigation-section ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffffff;
    height: 1px;
}

.navigation-section ul li a:hover:after {
    width: 100%;
}

.navigation-section ul li a {
    transition: all 1s;
}

.navigation-section ul li a:hover {
    z-index: 1;
}

.navigation-section ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    opacity: 1;
}

.navigation-list {
    display: flex;
}

.navigation-list li {
    padding-right: 30px;
}

.navigation-list li:last-child {
    padding-right: 0px;
}

.header-contact-section a {
    padding-left: 30px;
}

.header-contact-section a::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 18px;
    right: 150px;
    background: url(../img/carbon_phone-filled.svg);
}

.company-specification {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.company-information {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 80px;
}

.anchor-btn {
    position: relative;
    background: #FBD120;
    border-radius: 10px;
    padding: 20px 80px 20px 40px;
}

.anchor-btn::after {
    content: '';
    width: 36px;
    height: 36px;
    position: absolute;
    top: 8px;
    right: 40px;
    background: url(../img/akar-icons_arrow-up-left.svg);
}

.anchor-btn-text {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

/* Type Of Service Section */

.type-of-servise-section {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    margin-top: -140px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 20px 5px rgba(178, 177, 185, 0.3);
}

.type-of-servise-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.type-of-servise-wrapper div {
    padding-top: 140px;
    width: 400px;
}

.type-of-servise-wrapper div {
    border-right: 1px solid;
    border-image: linear-gradient(to top, white 0%, white 24.9%, #b2b1b9 25%, #b2b1b9 74.9%, white 75%);
    border-image-slice: 1;
}

.type-of-servise-wrapper div+div {
    padding-left: 40px;
}

.type-of-servise-wrapper div:last-child {
    border: none;
}

.type-of-servise-wrapper p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 20px;

}

.type-of-servise-wrapper p+p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 45px;
    width: 350px;
}

.free-calculation::before {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40px;
    background: url(../img/calculating.svg);
}

.consultation::before {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40px;
    background: url(../img/consultation.svg);
}

.years-of-market::before {
    content: '';
    width: 60px;
    height: 60px;
    position: absolute;
    top: 40px;
    background: url(../img/market-years.svg);
}

/* Catalog Section */

.catalog {
    width: 1200px;
    padding: 120px 0 100px 0px;
    margin: 0 auto;
}

/* .catalog-wrapper {} */

h2.catalog-name {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #323232;
    padding-bottom: 70px;
}

.catalog-items-section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 2rem;
    margin: 0 auto;
}

.card {
    position: relative;
    width: 360px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.card img {
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover img {
    cursor: pointer;
    /* transition: 1s ease; */
    transform: scale(1.2);
}

.card-anchor {
    position: absolute;
    left: 300px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 100%;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1)
}

.card-anchor::after {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    filter: invert(100%);
    transform: rotate(320deg);
    background: url(../img/akar-icons_arrow-up-left.svg);
}

.card-name {
    width: 320px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.card-anchor:active {
    background-color: #FBD120;
    transform: rotate(90deg);
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-anchor:active::after {
    filter: invert(0%);
}

/* Gallery */

.partnership-wrapper {
    padding-bottom: 100px;
}

.partnership-section {
    width: 1200px;
    margin: 0 auto;
}


.partnership-section h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    color: #323232;
    padding-bottom: 70px;
}

.gallery-container {
    width: 1200px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    position: relative;
}


/* Swiper */

.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: -50px !important;
    left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: -50px !important;
    right: auto;
}